.afirst-part{
    position: relative;
    
     /* border-radius: 50% 0 50% 50%/0 0 100px 100px; */
     /* overflow: hidden; */
}

.afirst-part img{
    /* background-size: cover; */
            /* background-position: center; */
            /* background-attachment: fixed; */
            /* background-repeat: no-repeat; */
            width: 100%;
            height: auto;
            /* filter: blur(5px); */
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 0, 255, 0.5); /* Adjust the color and opacity as needed */
    mix-blend-mode: multiply;

}


.afirst-part h3{
    font-size: 1.8rem;
    color: rgb(255, 208, 0);
}

.afirst-part h2{
    padding-top: 2%;
    font-size: 1.8rem;
    font-weight: 1000;
}

.afirst-part p{
    font-size: 1.4rem;
}

.wave{
    margin-top: -16%;

}

.wave svg{
    position: relative;
    display: block;
    z-index:1;

}

.asecondpart{
    /* height:20000px;
     */
     background-color: #FFFFFF;
     overflow: hidden;
     display: flex;
     margin-top: -10;
}

.asecondpart img{
    padding: 0 0 20% 5%;
    margin-top: -8%;
    transform: scale(0.8);
}

.imagetext{
    text-align: right;
    padding-top: 5%;
    padding-right: 5%;
}


.imagetext h1{
    color: rgb(255, 208, 0);
    font-size: 1.4rem;

}

.imagetext h2{
    padding-top: 2%;
    font-size: 1.4rem;
    font-weight: 800;
}

.imagetext p{
    padding-top: 3%;
    font-size: 1.3rem;
    font-weight: 600;
}

.wave2{
    margin-top: -20%;
    
}

.wave2 svg{
    display: block;
    
}

.text1{
    background-color: #d4d4d4;
    height: 500px;
    padding: 0 10% 15% 10%;   
}

.text1 h1{
    color: rgb(255, 208, 0);
    font-size: 1.7rem;

}

.text1 p{
    padding-top: 2%;
    font-size: 1.25rem;
    font-weight: 700;

}

.container{
    padding-top:30px;
    display: flex;
    column-gap: 30px;
    width: 100%;
    justify-content: center;
}

.box{
    position: relative;
    border-radius: 20px;
    height: 350px;
    width: 340px;
    background-color: white;
    overflow: hidden;
}

.img1{
      top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url("./stemcafe4.JPG");
    background-size: cover;
    background-position: center;
}

.img2{
      top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url("./IMG_8752.JPG");
    background-size: cover;
    background-position: center;
}

.img3{
      top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url("./challenges.png");
    background-size: cover;
    background-position: center;
}

.container h2{
    color: rgb(0, 13, 73);
    padding-left: 20%;
    font-size: 1.8rem;
    padding-top:10px;
    font-weight: 900;
}

.wave3{
    margin-top: -10%;
}

.forthsection{
    padding:0 10% 5% 10%;
}

.forthsection h1{
    color:rgb(255, 208, 0);
    font-size: 2rem;
}

.forthsection p{
    font-size: 1.3rem;
    padding-top: 1%;
    font-weight: 700;
}

.lastsection{
    background-color: #d4d4d4;
    padding: 5% 10% 5% 10%;
    text-align: center;
}

.lastsection h1{
    color: rgb(255, 208, 0);

}



