


.cfirst-part img {
  /* margin-top:16%; */
  /* position: relative; */
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* max-width: 100%; */
  /* background-position: center; */
  /* background-attachment: fixed; */
  width: 100%;
  height: 400px;
  filter: blur(1.2px);
/* max-height: auto; */
  /* transform: scale(1.4); */
}

.ccontainer{
    padding-top: 40px;
    display: flex;
    column-gap: 40px;
    /* align-items:center; */
    justify-content: center;
    /* padding: 0 100px; */
    width: 100%;
}

.cbox1{
    position: relative;
    height: 700px;
    width: 500px;
    background-color:rgb(0, 13, 73); 
    border-radius: 20px;
    overflow: hidden;
}

.image{
    /* position: absolute; */
    
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: url("./appdev.jpg");
    background-size: cover;
    background-position: center;
}



.image2{
    /* position: absolute; */
    
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: url("./webdev.jpg");
    background-size: cover;
    background-position: center;
}

.image3{
    /* position: absolute; */
    
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: url("./ui.jpg");
    background-size: cover;
    background-position: center;
}

.image4{
    /* position: absolute; */
    
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: url("./graphics.jpg");
    background-size: cover;
    background-position: center;
}

.image5{
    /* position: absolute; */
    
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: url("./data.jpg");
    background-size: cover;
    background-position: center;
}

.image6{
    /* position: absolute; */
    
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: url("./cyber.jpg");
    background-size: cover;
    background-position: center;
}


.ccontainer1{
    padding-top: 40px;
     display: flex;
    column-gap: 40px;
    /* align-items:center; */
    justify-content: center;
    /* padding: 0 100px; */
    width: 100%;

}

.ccontainer2{
    padding-top: 40px;
     display: flex;
    column-gap: 40px;
    /* align-items:center; */
    justify-content: center;
    /* padding: 0 100px; */
    width: 100%;
    padding-bottom: 40px;

}

.cbox1 h2{
    color: rgb(255, 208, 0);
    font-size: 2rem;
    padding-left: 15px;
    padding-top: 10%;
}

.cbox1 p{
    color:white;
    font-size: 1.1rem;
    padding: 15px ;
    align-self: justify;
}

.cbox1 button{
margin-left: 15px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: transparent;
    color: rgb(255, 208, 0);
  border-color: rgb(255, 208, 0);
  font-size: 20px;
  font-weight: bold;

}



