@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 10;
  justify-content: space-around;
  align-items: center;
}
.logo{
  position: relative;
  top: 10px;
  left: 40px;
  transform: scale(1.5);
}
.logo img{
  width: 230px;
  height: 50px;
}
.links{
  position: relative;
  left: 40px;
}
.links ul{
  display: flex;
}
.sm-img{
  display:none;
}
.navbar ul li {
  list-style-type: none;
  margin-left: 1.5vw;
  font-weight: 700;
  padding: 6px;
  list-style: none;
  position: relative;
}
.navbar ul li:hover {
  color: #ff6900;
  cursor: pointer;
}
#nav_button{
  display: none;
}
.icon{
  cursor: pointer;
}
.navbar button {
  background-color: white;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  position: relative;
  left: 10px;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  border-width: 0.01rem;
  margin-right: 100px;
}
.dropdown{
  position: absolute;
  top: 54.3px;
  background-color: white;
  max-height: fit-content;
  z-index: 5;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.dropdown-list{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
}
.dropdown-item{
  padding: 0;
  margin: 0;
  position: relative;
  right: 30px;
}
.button{
  position: relative;
  left: 40px;
}
.button button{
  padding-right: 15px;
  padding-top: 7px;
  position: relative;
  font-weight: bolder;
}
.button .cover{
  transition: .5s;
}
.button button:hover .cover{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .05);
  width: 100%;
  height: 100%;
}
.button img, .button #kenya{
  width: 20px;
  height: 20px;
  position: relative;
  display: inline;
  border-radius: 50%;
}
.button #kenya{
  right: 10px;
  top: 4px;
}
.button .country{
  position: absolute;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  top: 45px;
  right: 0;
}
.button .country{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
}
.country .item{
  font-weight: 500;
}
.button .country img{
  top: 4px;
  margin-right: 10px;
}
.navbar-item button{
  animation: normal rotate 1s ease-in-out;
  display: none;
  padding: 5px;
  border-radius: 0;
  background-color: #fa4e0a;
  position: absolute;
  left: 240px;
  top: 5px;
  scale: .8;
  color: white;
  transition: .5s;
}
.active button{
  background-color: white;
  transform: rotate(90deg);
}
.arrow1 *{
  color: white;
}
@media (max-width: 1000px) {
  .navbar{
    justify-content: space-between;
  }
  .sm-img{
    display: block;
    width: 300px;
  }
  .sm-img img{
    width: 230px;
    padding: 10px 0;
  }
  .navbar-item button{
    display: inline;
  }
  .logo{left: 0}
  .links ul{
    position: fixed;
    background-color: rgb(28, 43, 58);
    overflow-x: hidden;
    color: #ff6900;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 320px;
    height: 100%;
    transition: 1s;
    opacity: 1;
  }
  .links .hidden{
    position: fixed;
    left: -300px;
    opacity: 0;
  }
  .links ul li{
    color: white;
    padding: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .links ul li:hover{
    color: white;
  }
  #nav_button{
    display: inline;
    position: relative;
    right:70px;
    scale: 1.5;
    cursor: pointer;
  }
  .dropdown{
    box-shadow: none;
    position: relative;
    top: 0;
    margin-top: 15px;
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .dropdown ul{
    position: relative;
  }
  .dropdown-item{
    right: 0px;
  }
  .active .arrow1 *{
    color: #fa4e0a;
  }
}

/* .first-part{
  width: 100%;
  background-color: #fa4e0a;
  max-height: fit-content;
} */



.first-part img {
  /* margin-top:16%; */
  /* position: relative; */
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* max-width: 100%; */
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* width: 1349px; */
   background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            width: 100%;

  filter: blur(1.2px);
/* max-height: auto; */
  /* transform: scale(1.4); */
}

.textonimage {
  position: absolute;
  top: 40%;
  padding-left: 5%;
  transform: "translate(-50%,-50%)";
}

.textonimage h2 {
  color: rgb(247, 243, 243);
  font-size: 60px;
}

.textonimage p {
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
}

.textonimage button {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: rgb(0, 153, 255);
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* .innersection {
  position: relative;
  background-color: rgba(46, 46, 80, 0.4);
  height: 200px;
  width: 700px;
  top: 35px;

} */

.second-part h2 {
  position: relative;
  padding-top: 10%;
  padding-left: 5%;
  font-size: 2.2rem;
}

.second-part  h2 span:nth-child(1) {color: red;}
.second-part h2 span:nth-child(2) {color: blue;}.second-part h2 span:nth-child(3) {color: yellow;}



.second-part p {
  position: relative;
  padding-left: 5%;
  font-size: 1.4rem;
  font-weight: 1000;
  /* text-align: justify; */
  line-height: 2rem;
  /* align-items: center; */
  /* content: " "; */
  /* display: block; */
  /* margin: 1em 0; */
}

.grid {
  position: relative;
  padding-left: 5%;
  display: flex;
  column-gap: 20px;
  padding-top: 50px;
}

.box-1 {
  position: relative;
  height: 220px;
  width: 296px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-size:22rem; */
  /* background-position:0.2rem; */
  background-image: url("/robotics.png");
  border-radius: 5px;
}

.box-2 {
  position: relative;
  height: 220px;
  width: 296px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-size:22rem; */
  /* background-position:0.2rem; */
  background-image: url("/challenges.png");
  border-radius: 5px;
}

.box-3{
  position: relative;
  height: 220px;
  width: 296px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-size:22rem; */
  /* background-position:0.2rem; */
  background-image: url("/maker.png");
  border-radius: 5px;
}

.box-4 {
  position: relative;
  height: 220px;
  width: 296px;
  /* background-size: cover; */
  background-image: url("/entrepreneurship.png");
  /* border-radius: 5px; */
}

.text {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgb(0, 13, 73);
}

.text h2 {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  top: 25%;
  color: rgb(255, 208, 0);
}

.grid2 {
  position: relative;
  padding-left: 5%;
  column-gap: 20px;
  padding-top: 150px;
  display: flex;
}

.video {
  height: 350px;
  width: 50%;
  background-image: url("/vid.JPG");
  background-size: cover;
  margin-left: 20px;
}

.video-text {
  width: 50%;
  background-color: rgb(253, 253, 253);
  margin-right: 20px;
  padding: 50px;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2rem;
}

.values {
  column-gap: 20px;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.slideshow-bg {
  /* padding-top: 50px; */
  position: relative;
  height: 500px;
  width: 100%;
  background-color: rgb(0, 13, 73);
  align-items: center;
}

.slideshow-overlay {
  position: absolute;
  height: 350px;
  width: 70%;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slideshow-overlay img {
  height: 350px;
  padding-left: 30%;
}

.fifth-part {
  position: relative;
  text-align: center;
  padding-top: 7%;
  font-size: 25px;
  font-weight: 1000;
  height: 700px;
}

.fifth-part p {
  padding-bottom: 7%;
}

.slideshow2 {
  position: absolute;
  height: 450px;
  background-color: transparent;
  width: 70%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slideshow2 img {
  height: 450px;
}

.sixth-part {
  height: 850px;
  width: 100%;
  background-color:rgb(0, 13, 73)
}

.sixth-part p {
  text-align: center;
  padding-top: 50px;
  font-size: 2rem;
  font-weight: 1000;
  line-height: 3rem;
}

.seventh-part {
  position: relative;
  display: flex;
}

.firsthalf {
  height: 600px;
  background-color: rgb(255, 255, 255);
  width: 50%;
}

.secondhalf {
  height: 600px;
  background-image: url("/grid.jpg");
  background-size: cover;
  width: 50%;
}

.firsthalf h2 {
  padding-left: 50px;
  padding-top: 15%;
  text-align: justify;
  font-size: 2rem;
  color: orangered;
}

.firsthalf p {
  padding-top: 7.5%;
  padding-left: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 20px;
  color: white;
}

.firsthalf button {
  position: absolute;
  left: 3%;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border-color: orangered;
  background-color: transparent;
  color: orangered;
  font-size: 15px;
  font-weight: bold;
}

.last-part {
  position: relative;
  height: 800px;
}

.last-part h2 {
  padding-top: 7%;
  text-align: center;
  font-size: 2rem;
}

.lastslideshow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: transparent;
  width: 70%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lastslideshow img {
  padding-left: 25%;
  height: 500px;
}

.footer {
  background-color: rgb(0, 13, 73);
  height: 300px;
}

.footer img{
  padding-top: 5%;
  padding-left: 45%;
}






