@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  /* position: fixed; */
}

.navbar .links {
  margin-left: auto;
}
.navbar ul li {
  display: inline;
  margin-right: 60px;
  font-weight: 700;
  padding: 6px;
  list-style: none;
}

.navbar ul li:hover {
  color: orange;
  cursor: pointer;
}

.navbar ul button {
  background-color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  border-width: 0.01rem;
  margin-right: 100px;
}

.navbar ul button:hover {
  background-color: #e6dbf7;
}

.navbar-list {
  list-style-type: none;
  display: flex;
}

.navbar-item {
  padding: 10px 20px;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 58px;
  /* left: 0; */
  /* flex-direction: column; */
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 500px;
  max-height: fit-content;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  /* max-height: 1000px; */
  /* width:fit-content; */
  padding-left: 20px;
  flex-direction: column;
  display: flex;
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 16px;
}

.first-part img {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: 100%;
}

.textonimage {
  position: absolute;
  top: 40%;
  left: 9%;
   transform: "translate(-50%,-50%)";
}

.textonimage h2 {
  color: rgb(247, 243, 243);
  font-size: 60px;
}

.textonimage p {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.textonimage button {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: orangered;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.innersection {
/* position: absolute; */
position: relative;
background-color: rgba(46,46,80,0.4);
height:200px;
width:700px;
top:35px;
/* padding-left: 0; 
background-position: 0%; 
background-size: cover; 
background-position: center; 
 background-attachment: fixed;
max-width: 100%; */

   
}

.second-part h2{
  position: relative;
  padding-top: 10%;
  left: 9%;
  font-size: 2.2rem;
}

.second-part p{
  position: relative;
  left:9%;
  font-size: 1.4rem;
  text-align: justify;
  line-height: 2rem;
  align-items: center;
}

.grid{
  position: relative;
  left:9%;
  display: flex;
  column-gap: 20px;
  padding-top: 50px;

}

.box-1{
  height: 250px;
  width:290px;
  background-color: green;
  border-radius: 5px;
}

.text {
  /* position: relative; */
  height:20px;
  width: 290px;
  background-color: red;
  padding-bottom: 60%;
  border-radius: 5px;
}


.grid2{
  position: relative;
  left: 9%;
column-gap: 20px;
  padding-top: 150px;
  display: flex;
}

.video{
  height: 300px;
  width:50%;
  background-color: yellow;
  padding-top: 50px;
  margin-left: 20px;
}

.video-text{
  width:50%;
  background-color: rgb(253, 253, 253);
  padding-top: 50px;
  margin-right: 20px;
  padding: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;

}

.values{
  column-gap: 20px;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}



